<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjnHIs7XYtdk1J-uG3_b0GpSKAIrrAQBI</string>
	<key>BUNDLE_ID</key>
	<string>com.senura.navaro</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1017560788828-uddcb9titmn0ko2d4thba9r5gqmt6900</string>
			</array>
		</dict>
	</array>
	<key>GCM_SENDER_ID</key>
	<string>1017560788828</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017560788828:ios:56ca9147d1a0b7fcc71b99</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>navaro-1226</string>
	<key>STORAGE_BUCKET</key>
	<string>navaro-1226.firebasestorage.app</string>
</dict>
</plist>
